@page
@model ChangePasswordModel
@* @{
    ViewData["Title"] = "Change Password";
    // ViewData["ActivePage"] = ManageNavPages.ChangePassword;
} *@
<br />
<br />
<h3 class="text-bold">@ViewData["Title"]</h3>
<br />
<partial name="_StatusMessage" for="StatusMessage" />
<div class="register-box" style="margin-left:120px;">
    <div class="register-logo">
        <b>Stanford</b>Hospital<i class='fas fa-hospital' style='font-size:48px;color:red'></i>
    </div>
    <div class="card">
        <div class="card-body register-card-body">
            <form id="change-password-form" method="post">
                <h2 class="text-center">Change Password</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Enter Your Current Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter Your New Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter Your Confirm Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-eye-slash"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <button type="submit" class="w-100 btn btn-primary">Update Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
