@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center>
<div class="login-box">
    <div class="login-logo">
        <b>Stanford</b>Hospital<i class='fas fa-hospital' style='font-size:48px;color:red'></i>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <form method="post">
                <h2>Forgot Password</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter Your Email" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <button type="submit" class="w-100 btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>
<!-- /.login-box -->
</center>