@model StanfordHospital.Models.Appointment

@{
    ViewData["Title"] = "EditAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Appointment</h1>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditAppointment" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointmentid" />
            <div class="form-group col-md-6">
                <label asp-for="Patientid" class="control-label">Select Patient<span asp-validation-for="Patientid" class="text-danger"></span></label>
                <select asp-for="Patientid" class="form-control" asp-items="@(ViewBag.Patients as SelectList)">
                    <option>--Select Patient--</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Id" class="control-label">Select Doctor<span asp-validation-for="Id" class="text-danger"></span></label>
                <select asp-for="Id" class="form-control" asp-items="@(ViewBag.Doctors as SelectList)">
                    <option>--Select Doctor</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="AppointmentDate" class="control-label">Appointment Date<span asp-validation-for="AppointmentDate" class="text-danger"></span></label>
                <input asp-for="AppointmentDate" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="AppointmentTime" class="control-label">Appointment Time<span asp-validation-for="AppointmentTime" class="text-danger"></span></label>
                <input asp-for="AppointmentTime" class="form-control" type="time" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="AppointmentStatus" class="control-label">Appointment Status<span asp-validation-for="AppointmentStatus" class="text-danger"></span></label>
                <select asp-for="AppointmentStatus" class="form-control">
                    <option>--Select Status--</option>
                    <option value="Completed">Completed</option>
                    <option value="Pending">Pending</option>
                    <option value="Canceled">Canceled</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ReasonForAppointment" class="control-label">Reason For Appointment<span asp-validation-for="ReasonForAppointment" class="text-danger"></span></label>
                <textarea asp-for="ReasonForAppointment" class="form-control"></textarea>
            </div>
            @if (User.IsInRole("Doctor"))
            {
                <div class="form-group col-md-6">
                    <label asp-for="Diagnosis" class="control-label">Diagnosis<span asp-validation-for="Diagnosis" class="text-danger"></span></label>
                    <select asp-for="Diagnosis" class="form-control">
                        <option>--Select Diagnosis</option>
                        <option value="Clinical Diagnosis">Clinical Diagnosis</option>
                        <option value="Laboratory Diagnosis">Laboratory Diagnosis</option>
                        <option value="Imaging Diagnosis">Imaging Diagnosis</option>
                        <option value="Pathological Diagnosis">Pathological Diagnosis</option>
                        <option value="Differential Diagnosis">Differential Diagnosis</option>
                        <option value="Genetic Diagnosis">Genetic Diagnosis</option>
                        <option value="Provisional Diagnosis">Provisional Diagnosis</option>
                        <option value="Primary Diagnosis">Primary Diagnosis</option>
                        <option value="Secondary Diagnosis">Secondary Diagnosis</option>
                        <option value="Comorbid Diagnosis">Comorbid Diagnosis</option>
                    </select>
                </div>
            }

            @if (User.IsInRole("Doctor"))
            {
                <div class="form-group col-md-6">
                    <label asp-for="Prescription" class="control-label">Prescription<span asp-validation-for="Prescription" class="text-danger"></span></label>
                    <textarea asp-for="Prescription" class="form-control"></textarea>
                </div>
            }
            <div class="form-group col-md-6">
                <label>Case</label>
                <div class="form-check">
                    <input asp-for="Cases" id="oldcase" class="form-check-input" type="radio" value="OldCase">
                    <label asp-for="Cases" class="form-check-label">
                        OldCase
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="Cases" id="newcase" class="form-check-input" type="radio" value="NewCase">
                    <label asp-for="Cases" class="form-check-label">
                        NewCase
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Price" class="control-label">Price<span asp-validation-for="Price" class="text-danger"></span></label>
                <input asp-for="Price" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning">Save</button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function calculatePrice() {
            var priceInput = document.getElementById("Price");
            var oldCaseRadio = document.getElementById("oldcase");
            var newCaseRadio = document.getElementById("newcase");

            if (oldCaseRadio.checked) {
                priceInput.value = 200;
            } else if (newCaseRadio.checked) {
                priceInput.value = 500; 
            }
        }
        document.getElementById("oldcase").addEventListener("change", calculatePrice);
        document.getElementById("newcase").addEventListener("change", calculatePrice);
        calculatePrice();
    </script>
}
